<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>御圭·特种设备检测系统</title>
  <!-- <link rel="icon" href="/src/assets/logo_home.png" type="image/x-icon"> -->
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body leftmargin=0 topmargin=0
οncοntextmenu='return false' οndragstart='return false' onselectstart ='return false' 
οnselect='document.selection.empty()' οncοpy='document.selection.empty()' 
onbeforecopy='return false' οnmοuseup='document.selection.empty()'>
  <div id="root"></div>
</body>
</html>
